h1{
    border: 2px solid green;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.3); 
    width: 50%;
    height: 50px;
    color: green;
    padding-left: 50px;
    padding-top: 10px;
}