/Backend/PortofiloProject/PortofiloProject/obj/Release/net6.0
/.vs
/General/BooksApiExample/BooksApiExample/obj/Release/net6.0
/General/TODOApp/TODOApp/obj/Release/net5.0
/General/WebApplicationMVC/WebApplicationMVC/obj/Release/net6.0
/General/Task-3
General/Task-3/PortfoiliApiExample/PortfoiliApiExample/obj/Debug/net6.0/PortfoiliApiExample.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
General/FetchCustomerExample/.vs/FetchCustomerExample/FileContentIndex/955cb9af-f781-498a-ac5b-992555d5d0e1.vsidx
General/FetchCustomerExample/.vs/FetchCustomerExample/FileContentIndex/3599dbdd-773d-47b2-83f8-dc33eaccc473.vsidx
Frontend/todo-project-npm/
General/FetchCustomerExample/.vs/FetchCustomerExample/DesignTimeBuild/.dtbcache.v2
General/BooksApiExample/BooksApiExample/obj/Debug/net6.0/BooksApiExample.assets.cache
*.v2
Frontend/InputOutputDecorators/.hintrc
