@model AddProjectVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<head> 
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>   


<form asp-action="Add" method="post" asp-controller="Project"  enctype="multipart/form-data" style= "padding: 35px">
  <div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="form-group">
    <label asp-for="Body" style="padding-top: 30px"></label>
    <input  class="form-control" id="formGroupExampleInput2" asp-for="Body">
  </div>
   <div class="form-group">
    <label  asp-for="Image" style="padding-top: 30px"></label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1"  asp-for="Image">
  </div>
    <button type="submit" class="btn btn-primary" value="Add Project " style="margin-top: 30px; width: 100%">Add Project</button>

</form>



