<div class="row">
    <div class="col-md-12" >
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title"> {{ todo.title }}</h5>
              <p class="card-text">{{ todo.description }}</p>
              <p class="card-text">{{ todo.isImportant }}</p>
              <button class="btn btn-warning  mx-2" (click)="onEditTodo()"> Edit Todo</button>
              <button class="btn btn-danger " (click)="OnDeleteTodo()"> Delete Todo</button>
            </div>
          </div>
    </div>
</div>