body,
html {
    height: 100%;
    width: 100%;
    margin: auto;
}


.container {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
}

.left {
    background-color: #F6F6F6;
    position: fixed;
    width: 300px;
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}
.profileImg {
    padding: 50px 50px 0px 50px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.name {
    font-size: 25px;
    padding-left: 50px;
}

.job {
    font-size: 15px;
    padding-left: 50px;
    color: #3F3D56;
}

.socialIcons {
    padding-left: 50px;
    align-items: center;
}

    .socialIcons img {
        width: 30px;
        padding-right: 10px;
    }

@media screen and (max-width : 700px) {
    body {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .left {
        margin: auto;
        position: relative;
        min-width: 100%;
        align-items: center;
        justify-content: center;
    }
    .name {
        text-align: center;
        padding-left: 0px;
    }

    .job {
        text-align: center;
        padding-left: 0px;
    }

    .socialIcons {
        padding-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
}
