<div class="row mt-3 justify-content-center">
  <div
    style="display: flex; flex-direction: row; justify-content: space-between"
  >
    <h2>اصدارات جديدة</h2>
    <h5><a [routerLink]="['BookList']"> المزيد </a></h5>
  </div>
  <ng-container *ngIf="get">
    <div class="col-md-2 col-6 mt-3" *ngFor="let book of getLastBook">
      <a [routerLink]="['/BookList', book.id]">
        <img
          [src]="imgSrc + book.image"
          alt="ded"
          class="img-thumbnail bookimg"
      /></a>

      <div class="stars">
        <ngb-rating
          [(rate)]="book.rating"
          [max]="5"
          class="color"
          [readonly]="true"
        ></ngb-rating>
        ({{ book.rating }})
      </div>

      <div class="name">
        <p>{{ book.name }}</p>
      </div>
      <div class="price" style="display: flex; flex-direction: row">
        <p>${{ book.price }}.00</p>
        <p
          style="
            padding-right: 5px;
            color: grey;
            font-weight: 100;
            font-size: small;
            text-decoration: line-through;
          "
          *ngIf="book.discount > 0"
        >
          ${{ book.discount }}.00
        </p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!get">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-2 mt-5 col-6" *ngFor="let book of getLastBook">
          <div class="card" aria-hidden="true">
            <div class="card-body">
              <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>
              <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
              <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
